.container{
    margin-left: 40%;
    margin-top: 15%;
}
h2{
    margin-left: 130px;
}
.container div{
    margin: 15px;
}
.child-container input{
    height: 25px;
    width: 300px;
}
button{
    height: 25px;
    width: 70px;
    margin-left: 15%;
}
p{
    margin-left: 30px;
}